$grey: #727272;
$yellow: #AE8945;
$green: #8FB51F;
$green_dark: #175A33;
$green_light: #E8F8CC;
$red: #D21E19;
$black: #040404;
$blue: #192A67;

$max: 1670px;
$xlg: 1400px;
$lg: 1279px;
$md: 1023px;
$sm: 767px;
$xs: 376px;

$default-transition-duration: 0.4s;
$default-transition-function: ease-out;